body, h1 {
    margin: 0;
    padding: 0;
    font-family: "Rubik", sans-serif;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

html, body {
    height: 100%;
    margin: 0;
    background-color: #FFF8F7; /* Set the background color of the entire website */
    color: #23191B; /* Ensure text color contrasts with the background */
    box-sizing: border-box; /* Ensure padding and borders are included in the element's total width and height */
}

body {
    display: flex;
    flex-direction: column;
}

.content-wrapper {
    flex: 1;
    padding: 0 10%; /* Ensure consistent padding on the sides */
    box-sizing: border-box; /* Include padding in the element's total width and height */
}

header {
    background-color: #FFF8F7;
    color: #23191B;
	margin-top: 30px;
    padding: 20px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box; /* Include padding in the element's total width and height */
}

.nav-container {
    width: 100%;
    padding: 0 10%; /* Align with the padding of content-wrapper */
    margin: 0 auto; /* Center the nav-container */
    box-sizing: border-box; /* Include padding in the element's total width and height */
}

.nav-rail {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #FFF8F7;
    border-radius: 50px;
    gap: 10px;
    width: 100%;
    box-sizing: border-box; /* Include padding in the element's total width and height */
}

.logo-link {
    display: flex;
    justify-content: center;
    margin-right: 10px;
}

.logo {
    height: 50px;
    vertical-align: middle;
    display: block;
}

.nav-item {
    color: #23191B;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 5px 8px; /* Reduced padding to account for the border */
    border-radius: 50px; /* Maintain pill shape */
    transition: all 0.3s ease; /* Smooth transition */
    border: 2px solid transparent; /* Initial transparent border */
}

.nav-item-language {
    color: #D6C2C3;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 5px 8px; /* Reduced padding to account for the border */
    border-radius: 50px; /* Maintain pill shape */
    transition: all 0.3s ease; /* Smooth transition */
    border: 2px solid transparent; /* Initial transparent border */
}

.nav-item:hover {
    background-color: #E7D6D7; /* Slightly darker background on hover */
    border-radius: 50px; /* Make the hover state pill-shaped */
}

.nav-item-language:hover {
    background-color: transparent; /* No background color on hover */
    border: 2px solid #E7D6D7; /* Outline of the pill shape */
	border-radius: 50px
}

.language-switcher {
    display: flex;
    align-items: center;
}

.divider-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30px; /* Fixed height for the divider */
    box-sizing: border-box; /* Include padding in the element's total width and height */
}

.squiggly-divider {
    width: 100%;
    height: 30px; /* Fixed height for the SVG */
    min-width: 200px; /* Ensure it remains visible on smaller screens */
}

.description-container {
    text-align: left;
    padding: 20px 10%;
}

.description-paragraph {
    font-size: 1.2em;
    color: #23191B;
    margin: 10px 0;
}

.special-link {
    text-decoration: none; /* Remove default underline */
    color: #23191B; /* Change the link color */
    font-weight: bold; /* Make the link bold */
    transition: color 0.3s ease, border-bottom 0.3s ease; /* Smooth transition */
    border-bottom: 2px solid transparent; /* Invisible bottom border for hover effect */
}

/* Hover effect */
.special-link:hover {
    color: #23191B; /* Change color on hover */
    border-bottom: 2px solid #23191B; /* Underline on hover */
}

/* Active and visited state */
.special-link:visited {
    color: #23191B; /* Different color for visited links */
}

.special-link:active {
    color: #23191B; /* Color when the link is clicked */
    border-bottom: 2px solid #23191B;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    padding: 20px 0;
    box-sizing: border-box; /* Include padding in the element's total width and height */
}

.image-item {
    background: #FFFFFF;
    border-radius: 12px;
    overflow: hidden;
    border: 1px solid #D6C2C3;
}

.image-item:hover {
    transform: scale(1.02);
}

.image-item img {
    width: 100%;
    height: auto;
    display: block;
    border-bottom-left-radius: 12px; /* Round the lower left corner */
    border-bottom-right-radius: 12px; /* Round the lower right corner */
}

.image-title {
    font-weight: bold;
    margin: 16px 16px 0px; /* Adjust margin as needed */
    color: #23191B; /* Ensure the title color matches the theme */
    font-size: 1.1em;
}

.image-description {
    margin: 16px 16px 32px;
    color: #23191B;
    font-size: 0.9em;
}

.content-paragraph {
    padding-left: 0; /* Match this value with the padding used for the logo alignment */
    padding-right: 0; /* Optional: keep content within the same margin on the right side */
    margin-top: 30px; /* Adjust as needed for spacing */
    text-align: left;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 20px; /* Gap between items */
    padding: 30px 0;
    margin-bottom: 100px;
    box-sizing: border-box; /* Include padding in the element's total width and height */
}

.gallery-item {
    position: relative;
    overflow: visible;
    border-radius: 12px; /* Round the corners of the gallery item */
    height: 350px; /* Fixed height for all items */
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.gallery-item img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Crop the images to fit the container */
    transform: translate(-50%, -50%) scale(1);
    border-radius: 12px;
    transition: transform 0.3s ease-in-out, width 0.3s ease-in-out, height 0.3s ease-in-out;
}

.gallery-item:hover img,
.gallery-item:focus-within img {
    width: auto; /* Expand image beyond its container */
    height: auto; /* Expand image beyond its container */
    max-width: 100%; /* Ensure the image doesn't exceed its container */
    max-height: 100%; /* Ensure the image doesn't exceed its container */
    transform: translate(-50%, -50%) scale(1.3); /* Adjust scale for a slight zoom effect */
    z-index: 10;
    border-radius: 12px; /* Ensure border radius is maintained */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* Enhance shadow for focus */
}

.pdf-container {
    width: 100%; /* Ensure the container takes full width of its parent */
    max-width: 100%; /* Prevent the container from exceeding its parent width */
    height: auto; /* Allow the height to adjust automatically */
    margin-top: 10px;
    overflow: auto; /* Add scrollbars if the content overflows */
}

.pdf-container iframe {
    width: 100%; /* Make the iframe responsive */
    height: 1000px; /* Set a default height */
    border: none; /* Remove border */
}


footer {
    color: #D6C2C3;
	text-align: center;
    position: relative;
	padding-top: 50px; /* Adjust as needed */
    box-sizing: border-box; /* Include padding in the element's total width and height */
}

.footer-divider {
    position: relative;
    width: 100%;
    height: 30px;
    overflow: hidden;
}

.footer-divider svg {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 3000px; /* Fixed width to ensure it does not shrink */
    height: 30px;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px; /* Add padding */
    position: relative;
    z-index: 1;
    box-sizing: border-box; /* Ensure padding and borders are included in the element's total width and height */
}

.footer-links,
.footer-logo {
    flex: 1;
}

.footer-links {
    text-align: left;
}

.footer-links p {
    margin: 0;
    font-weight: bold;
}

.footer-links a {
    display: block;
    color: #D6C2C3; /* Link color */
    text-decoration: none;
    margin: 5px 0;
}

.footer-links a:hover {
    text-decoration: underline;
}

.footer-logo {
    text-align: right;
	margin-right: 20px;
}

.footer-logo-img {
    width: 50px; /* Adjust size as needed */
}

/* Media Query for Mobile Devices */
@media (max-width: 1200px) {
    body {
        font-size: 1.2em; /* Increase font size */
    }

    .nav-item, .nav-item-language {
        font-size: 1.5em; /* Increase font size for navigation items */
    }

    .description-paragraph, .content-paragraph, .image-title, .image-description {
        font-size: 1.4em; /* Increase font size for content paragraphs and image titles */
    }

    .footer-links p, .footer-links a {
        font-size: 1.2em; /* Increase font size for footer links */
    }
	.image-grid {
        grid-template-columns: 1fr; /* Force one image per row */
    }

    .gallery-grid {
        grid-template-columns: 1fr; /* Force one image per row */
    }
}